<%- include('header'); -%>

<h2>about</h2>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam, ratione. Nemo sed minima id quis quas dolorum tenetur, delectus magni.</p>

<%- include('footer'); -%>